<div class="page-header">
    <h3>{{currentEvent.title}} <span class="pull-right">{{currentEvent.date | date: 'medium'}} <a href="http://www.meetup.com/AngularJS-Barcelona/events/156129312/"  style="margin-left:0.6em">
                <img src="http://www.meetup.com/t/img/api/rbtn/k9g5e6s0et2n29b55itkppqt9c/rsvp_btn.png"></a></span></h3>
</div>
<div class="row">
    <div class="col-md-12">
        <span class="lead" ng-repeat="p in currentEvent.description.split('\n')">
            <p ng-bind-html="p"></p>
        </span>
        <div ng-show="currentEvent.talks">
            <h3>Talks</h3>
            <!-- TODO: create layout for talks info -->
            <pre>{{currentEvent.talks | json}}</pre>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:1em">
    <div class="col-md-12">
        <h3 ng-show="currentEvent.workshops">Workshops <small>{{currentEvent.workshops[0].start}} - {{currentEvent.workshops[currentEvent.workshops.length - 1].end}}</small></h3>
        <p>
            The workshops will be 45-60min and they will be in a hands-on format so we encourage attendants to bring his laptop and code along with us by groups, pairs or individually. We will post the tools needed for each workshop soon.
        </p>
    </div>
    <div class="col-md-4" ng-repeat="workshop in currentEvent.workshops" style="margin: 20px auto">
        <div class="row">
            <div class="col-md-8">
                <h4>
                    {{workshop.title}}
                </h4>
            </div>
            <div class="col-md-4">
                <span class="label pull-right" ng-class="{'label-success': workshop.level == 'Beginner', 'label-warning': workshop.level == 'Intermediate'}">{{workshop.level}}</span>
            </div>
        </div>
        <h4 style="text-align: right"><small>{{workshop.start}} - {{workshop.end}}</small></h4>
        <h4 style="text-align: right"><small>by <span ng-repeat="s in workshop.speakers">
            <a ng-show="s.indexOf('@') == 0" ng-href="https://twitter.com/{{s}}">{{s + (($index == workshop.speakers.length - 1) ? '.' : ', ')}}</a>
            <span ng-show="s.indexOf('@') != 0">{{s}}</span>
        </span></small></h4>
        <p style="text-align:justify">
            <small>
                {{workshop.description}}
            </small>
        </p>
    </div>
</div>