<div class="page-header">
    <img src="app/images/logo.png" class="logo" alt="">
    <h1>AngularJS Barcelona</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="lead">
            The <a href="http://www.meetup.com/AngularJS-Barcelona/">AngularJS Barcelona</a> is a community around the <a href="http://www.angularjs.org">AngularJS </a> framework. We love AngularJS, we love the way it helps us build better web applications with less effort and we would love to meet other AngularJS developers in the Barcelona area so that we can discuss our approaches, ways, etc. with them.
        </p>
        <div class="jumbotron" style="padding-top:39px">
            <h1>
                <a ng-href="#/events/{{nextEvent.date | date: 'yyyy-MM-dd'}}">
                    Next meetup on {{nextEvent.date | date: 'MMMM d'}}{{nextEvent.date | meetupDate}}
                </a>
                <a href="http://www.meetup.com/AngularJS-Barcelona/events/156129312/"  class="pull-right">
                    <img src="http://www.meetup.com/t/img/api/rbtn/k9g5e6s0et2n29b55itkppqt9c/rsvp_btn.png">
                </a>
            </h1>
            
            <p>
               From <strong>AngularBCN</strong> we want an event for newbies as well as seasoned angular developers with three hands-on workshops. We encourage you to <strong>bring your laptops</strong> and code with us some super-heroic ng-application :)
            </p>
        </div>
    </div>
</div>
