header(class="background-sky")
  div(class="hero background-bcn-paper is-large" layout="column" layout-align="center center")
    h1(class="text-headline hero-logo" ng-click="toggleBcnLogo($event)" ng-class="showBcnLogo ? 'bcn-shield' : 'ng-shield'") #{title}
    h1.text-headline.text-subhead.no-margin #{subtitle}
    h2.text-headline.text-subhead.link-headline
      a(href="http://itnig.net/es/oficinas") #{venue}
    a(href="https://ti.to/barcelonajs/mediterraneajs/with/ugsmkn5n2kw" target="_blank" class="button" md-button) Reservations


.banner.is-centered
  a(href="http://mediterraneajs.eu/")
    img(class="mediterranea-logo" src="resources/images/logos/bcn/mediterraneaLogo.svg")
