header(class="background-sky")
  .hero.background-sf-paper.is-large
    h2.text-headline.text-subhead #{subtitle}
    h1(class="text-headline hero-logo" ng-click="toggleBcnLogo($event)" ng-class="showBcnLogo ? 'bcn-shield' : 'ng-shield'") #{title}


.banner.is-centered
  .banner-ng-annoucement
    h3.text-display-1 MediterraneaJS
    h4.text-subhead The Official Barcelona Javascript Conference
